body{
    background-color:#D2B48C;
    font-family:Arial,Verdana,"Sans-serif";
}
canvas{
    float: left;
}
#placar {
    width:900px;
    height:40px;
    background-color:#27ae60;
    vertical-align: middle;
    line-height: 40px
}
#meuCanvas {

}
#histlivro{
    background-image:url(images/nbbg.jpg);
    position: absolute;
    left: 915px;
    width:400px;
    height:600px;
    line-height: 160%;
}
//CSS 3 daora