//Blue Ararainha ruby JegueBauer Pvnll98 & gitmao
body{
    background-color:#2ecc71;
    font-family:Arial,Verdana,"Sans-serif";
}
canvas{
    float: left;
}
#placar {
    width:1280px;
    height:25px;
    background-color:#27ae60;
    border-style:outset;
    border-width:3px;
    border-bottom-width:0px;
    border-color:#006666;
}
#meuCanvas {
    border-width:1px;
    border-color:#006666;
    background:#27ae60;
    border-style:outset;
    border-width:3px;
}
