body{
    background-color:#D2B48C;
    font-family:Arial,Verdana,"Sans-serif";
}
canvas{
    float: left;
}
#placar {
    width:1280px;
    height:40px;
    background-color:#27ae60;
    vertical-align: middle;
    line-height: 40px
}
#meuCanvas {

}
