body{
    background-color:#a1a1a1;
    font-family:Arial,Verdana,"Sans-serif";
}
#painel{
    border-radius: 25px;
    background: #4d6481;
    padding: 20px; 
    width: 400px;
    height: 150px;
    font-family:Arial,Verdana,"Sans-serif";
}
#palavra{
    font-size:40px;
}
#quest{
    font-size:12px;
}